<!DOCTYPE html>
<html lang="en">
<head>
	<title>Leaderboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

</head>
<body>
	<div class="limiter">
		<div class="container-login100 " style="align-items: unset;">
			<div class="mainCard container" style="width:90vw;margin-top: 2%;">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;">
                        <h2>Next Clue</h2>
                        <div class="clue-question">
                            
                        </div>
                    </div>
                </div>


			</div>
		</div>
	</div>
	
	

	
    <script src="main.js"></script>
</body>
</html>